body {
    background: url("/src/A_side.png") 0 0 no-repeat;
    background-size: contain;
}

/*body:before 
{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url("3.png") 0 0 repeat;
    background-size: 380px 500px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}*/

#poster 
{
	transform:          rotate(270deg);
	-ms-transform:      rotate(270deg);
	-moz-transform:     rotate(270deg);
	-webkit-transform:  rotate(270deg);
	-o-transform:       rotate(270deg);
}